[build]
  command = "npm run build"
  # Publish directory - must be set here to override UI settings
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"

